<html>
    <head>

    </head>
    <body>
        <h1>SIGNUP</h1>
        <form action="/signup" method="POST">
            <label>Username</label>
        <input type="text" name="username" class="username">
<br><br>
        <label>Password</label>
        <input type="password" name="password" class="password">
        <button type="submit">Submit</button>
        </form>
    </body>
</html>