<html>
    <head>
        <body>
            <h1>Available Wifi Interfaces</h1>
            <h2><% data.forEach(resu => { %>
                <h2><%= JSON.stringify(resu) %></h2>
           <% }) %></h2>
        </body>
    </head>
</html>